<% provide(:title, "Blog Article") %>

<!-- helper to display link back to Article in articles layout -->
<% content_for :article_nav do %>
   <li><%= link_to 'Articles', articles_path %></li>
 <% end %>

  <div class="row text-center articles-section">
    <h1><%= @article.title.html_safe %></h1>
    <p class="article-created-time">
      <%= @article.created_at.strftime("%d %B %G") %>
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 article-body articles-section">
      <%= @article.body.html_safe %>
    </div>
  </div>
  <% if logged_in? %>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
      <%# link_to "Back to Articles", articles_path, class: "btn btn-info" %>
      <%= link_to "Edit Article", edit_article_path(@article) %>
      <%= link_to "Delete Article", article_path(@article),
                mehtod: :delete,
                data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
  <% end %>
