<%= form_for @contact, url: welcome_index_path, remote: true do |f| %>

  <div class="col-md-6" id="contact-form">
        <%= f.label :name %>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :email %>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :message %>
        <%= f.text_area :message, rows: 8, required: true, class: "contact-form-text-area",
                        placeholder: "Hello, I'd love to teach a master class for your students."%>

        <%= f.submit 'Send Message', class: 'btn btn-primary' %>
        <% end %>
  </div>

<%# f.text_field  :email, :required => true, :hide_label => true,
                  :placeholder => "Email" %>
<%# f.text_area   :message, size: "60x10", :required => true, :hide_label => true,
                  :placeholder => "Hello, I'd love to teach a master class for your students." %>
