<% provide(:title, "Home") %>
  <div class="row">
    <%= image_tag('lvPasDeChat.jpg', alt: "Laurie Volny Langdon pas de chat", class: "img-responsive",
                  id: "splash-img") %>
  </div>

  <div class="row" id="bio-lv">
    <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
        ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia
        arcu eget nulla. <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
        sodales ligula in libero. </p>
        <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>. Sed dignissim lacinia nunc.
         Curabitur tortor. <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</i>.
         Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed
         convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus,
         iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia
         aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in,
         nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent
         \per conubia nostra, per inceptos himenaeos. </p>
        <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a
        cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc
        feugiat mi a tellus consequat imperdiet. Vestibulum sapien. <i>In scelerisque sem at
        dolor</i>. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.
        Sed lectus. </p>
        <p>Integer euismod lacus luctus magna. <b>Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos</b>. Quisque cursus, metus vitae pharetra auctor,
        sem massa mattis sem, at interdum magna augue eget diam. <i>Proin ut ligula vel nunc egestas
        porttitor</i>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi
        \sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec
        lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada
        tellus. Ut ultrices ultrices enim. <b>Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia Curae; Morbi lacinia molestie dui</b>. Curabitur sit amet
        mauris. Morbi in dui quis est pulvinar ullamcorper. </p>
        <p>Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a
        tortor. <b>Donec lacus nunc, viverra nec, blandit vel, egestas et, augue</b>. Integer
        id quam. <b>Morbi in ipsum sit amet pede facilisis laoreet</b>. Morbi mi. Quisque nisl
        felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero
        eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac,
        ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
    </div>
    <div class="col-md-3 col-sm-3">
      <%= image_tag("laurie_majestic_nyc.jpg", alt: "Laurie standing outside the Majestic Theater",
                    class: "img-responsive", id: "lv-outside-majestic") %>
    </div>
  </div>

  <div class="row" id="img-gallery1">
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom preview">
      <%= link_to image_tag("lv_attitude_350x450.jpg", alt: "Laurie attitude",
                            class: "img-responsive full-col"), "#",
                            data: {toggle: "modal", target: "#myModal"} %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom preview">
        <%= link_to image_tag("lv_arabesque_350x450.jpg", alt: "Laurie arabesque",
                            class: "img-responsive full-col"), "#",
                            data: {toggle: "modal", target: "#myModal"} %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom preview">
        <%= link_to image_tag("lv_nut_clara_350x450.jpg", alt: "Laurie attitude",
                            class: "img-responsive full-col"), "#",
                            data: {toggle: "modal", target: "#myModal"} %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom preview">
      <%= link_to image_tag("lv_2pigeons_350x450.jpg", alt: "Laurie attitude",
                            class: "img-responsive full-col"), "#",
                            data: {toggle: "modal", target: "#myModal"} %>
      </div>
  </div>
  <div class="row" id="img-gallery2">
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom preview">
      <%= image_tag("lv_phantom_ballet_girls.jpg", alt: "Laurie attitude", class: "img-responsive full-col") %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom preview">
        <%= image_tag("lv_phantom_last_perf.jpg", alt: "Laurie arabesque", class: "img-responsive full-col") %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom preview">
        <%= image_tag("lv_phantom_masq_girls.jpg", alt: "Laurie attitude", class: "img-responsive full-col") %>
      </div>
  </div>

  <ul class="list-inline">
    <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="0"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/1"><br>
  Caption</a></li>
    <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="1"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/2"><br>
  Caption</a></li>
    <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="2"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/3"><br>
  Caption</a></li>
    <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="3"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/4"><br>
  Caption</a></li>
    <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="4"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/5"><br>
  Caption</a></li>
    <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="5"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/6"><br>
  Caption</a></li>
  </ul>
<!--end of thumbnails-->


<!--begin modal window-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <div class="pull-left">My Gallery Title</div>
              <button type="button" class="close" data-dismiss="modal" title="Close">
                <span class="glyphicon glyphicon-remove"></span></button>
          </div>
<div class="modal-body">

  <!--CAROUSEL CODE GOES HERE-->
  <!--begin carousel-->
  <div id="myGallery" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("lv_attitude_350x450.jpg", alt: "Laurie attitude",
                              class: "img-responsive full-col") %>
        <div class="carousel-caption">
          <h3>Heading 3</h3>
          <p>Slide 0  description.</p>
        </div>
      </div>
      <div class="item"> <img src="http://lorempixel.com/600/400/nature/2" alt="item1">
        <div class="carousel-caption">
          <h3>Heading 3</h3>
          <p>Slide 1 description.</p>
        </div>
      </div>
      <div class="item"> <img src="http://lorempixel.com/600/400/nature/3" alt="item2">
        <div class="carousel-caption">
          <h3>Heading 3</h3>
          <p>Slide 2  description.</p>
        </div>
      </div>
      <div class="item"> <img src="http://lorempixel.com/600/400/nature/4" alt="item3">
        <div class="carousel-caption">
          <h3>Heading 3</h3>
          <p>Slide 3 description.</p>
        </div>
      </div>
      <div class="item"> <img src="http://lorempixel.com/600/400/nature/5" alt="item4">
        <div class="carousel-caption">
          <h3>Heading 3</h3>
          <p>Slide 4 description.</p>
        </div>
      </div>
      <div class="item"> <img src="http://lorempixel.com/600/400/nature/6" alt="item5">
        <div class="carousel-caption">
          <h3>Heading 3</h3>
          <p>Slide 5 description.</p>
        </div>
      </div>
  </div><!--end carousel-inner-->
  <!--Begin Previous and Next buttons-->
    <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
      href="#myGallery" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!--end carousel-->

</div><!--end modal-body-->
    <div class="modal-footer">
      <div class="pull-left">
        <small>Photographs by <a href="http://lorempixel.com" target="new">Lorempixel.com</a></small>
      </div>
        <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
    </div><!--end modal-footer-->
    </div><!--end modal-content-->
  </div><!--end modal-dialoge-->
</div><!--end myModal-->




  <div class="row" id="contact">
      <div class="col-md-6 col-md-offset-3">
        <hr class="double-line">
      </div>
      <div class="col-md-4">
        <p>
          For guest teaching information: <%= mail_to  '***REMOVED***' %>
        </p>
      </div>
      <div class="col-md-6">
        <!-- image here -->
      </div>
  </div>
    <p>
      The time is <%= Time.now %>.
    </p>
    <p>
      <%= link_to "Laurie's blog", articles_path %>
  </p>
