<% provide(:title, "Home") %>

  <div class="row">
    <%= image_tag('lvPasDeChat.jpg', alt: "Laurie Volny Langdon pas de chat", class: "img-responsive",
                  id: "splash-img") %>
  </div>

  <div class="row" id="bio-lv">
<<<<<<< HEAD
    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
      <p>
        Little did Laurie know that performing Mary Pickford in Broadway choreographer Joe Layton’s the <em>Grand Tour</em> would presage her own entrance into show business after 14 years of classical ballet.  Looking back for Laurie, it almost seems a natural progression from the Sugar Plum Fairy in the <em>Nutcracker</em> to the solo dancer in the <em>Phantom of the Opera</em>.
      </p>
      <div class="col-md-4 col-sm-4 pull-right">
        <%= image_tag("laurie_majestic_nyc.jpg", alt: "Laurie standing outside the Majestic Theater",
                      class: "img-responsive", id: "lv-outside-majestic") %>
      </div>
=======
    <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2">
      <p>
        Little did Laurie know that performing Mary Pickford in Broadway choreographer Joe Layton’s the <em>Grand Tour</em> would presage her own entrance into show business after 14 years of classical ballet.  Looking back for Laurie, it almost seems a natural progression from the Sugar Plum Fairy in the <em>Nutcracker</em> to the solo dancer in the <em>Phantom of the Opera</em>.
      </p>
>>>>>>> 5fb5ec1ac183909517ae7742744c74a5c2cf802e
      <p>
        Before beginning her career at Houston Ballet, she trained at the Giacobbe Academy of Dance in her hometown, New Orleans, as well as at the summer programs of the school of American Ballet Theater and San Francisco Ballet.  Once at Houston Ballet she quickly rose to the rank of soloist, performing many of the signature roles of the classical ballet canon. Her turn as the Sugar Plum fairy in the <em>Nutcracker</em> garnered her critical reviews as did her performances of the Crouching Woman in Margo Sappington’s <em>Rodin: Mis en vie</em>.  Houston audiences as well as those in Europe and Asia saw her as the Fairy Beauty and Temperament in the <em>Sleeping Beauty</em> in addition to the Pas de Trois in Tchaikovsky’s other masterpiece, <em>Swan Lake</em>.
      </p>
      <p>
        Paul Taylor, Sir Kenneth MacMillan, Peter Wright, and Ben Stevenson were among the wide range of choreographers with whom she worked, appearing in Company B, Gloria, Elite Syncopations and Giselle. She had a special affinity for the works of Balanchine and performed in many of his signature ballets: <em>La Valse</em>, <em>Symphony in C</em>, <em>Theme and Variations</em>, and <em>Concerto Barocco</em>.  Having danced in many of the noted contemporary British choreographer, Christopher Bruce’s ballets, her next step into the world of commercial theater and dance almost seemed ordained.
      </p>
      <p>
        After what would have been considered a long ballet career of 14 years, in 1994 she joined the touring production of Andrew Lloyd Webber’s smash Broadway hit, the <em>Phantom of the Opera</em>. Touring to over 65 cities with cast, dancers, crew, and musicians, it wasn’t long before her on-stage duties as dancer were expanded.  She became the Dance Captain/Swing for the show which put her in charge of the musical staging of the production, working closely with associate choreographer, Denny Berry.  She also had to cover all chorus and dancer roles, going on at a moment’s notice when a cast member was absent.  Her communication skills coupled with the ability to deal with actors, dancers, and crew members in an effective, efficient manner endeared her to those with whom she worked.  Accordingly, she was promoted to the Dance Captain position of the Broadway Company at the Majestic Theater in New York City where she worked closely with the choreographer, Gillian Lynne, and the show’s Tony award-winning director, Hal Prince.
      </p>
      <p>
        After 18 years with <em>Phantom</em>, she hung up her pointe shoes, only to be called back to assist in the staging of a new production in Hamburg, Germany.  Currently she lives in New Orleans in a renovated version of her childhood home with her husband, conductor and pianist <%= link_to "Glenn Langdon", "http://glennlangdon.com", id: "glenn-link" %>, and two very independent cats.  She teaches at the Giacobbe Academy of Dance and the Schramel Conservatory of Dance, directing their summer intensive ballet program.  An avid gardener and voracious reader, she can be found in a hot yoga class when not teaching or serving up a home-cooked meal.
      </p>
<<<<<<< HEAD
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 col-md-offset-3 line-divider">
        <hr class="double-line">
      </div>
  </div>
  <div class="row-fluid">
      <h1 class="text-center" id="in-performance">In Performance</h1>
      <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3" id="harlequinade-video">
        <div class="embed-responsive embed-responsive-4by3" align="center">
          <%= video_tag("https://s3.amazonaws.com/lv-site/harlequinade/HarleqinadeWebVideo-Broadband+High.mp4",
          alt: "Laurie Langdon in a performance of Harlequinade", controls: true, autobuffer: true,
          class: "embed-responsive-item") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 line-divider">
        <hr class="double-line">
      </div>
=======
    </div>
    <div class="col-md-3 col-sm-3">
      <%= image_tag("laurie_majestic_nyc.jpg", alt: "Laurie standing outside the Majestic Theater",
                    class: "img-responsive", id: "lv-outside-majestic") %>
>>>>>>> 5fb5ec1ac183909517ae7742744c74a5c2cf802e
    </div>
  <div class="row">
    <h1 class="text-center">At the Theater</h1>
  </div>

  <div class="row">
      <div class="col-md-6 col-md-offset-3 line-divider">
        <hr class="double-line">
      </div>
  </div>
  <div class="row">
    <h1 class="text-center">At the Theater</h1>
  </div>

  <div class="row" id="img-gallery1">
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom">
      <%= link_to image_tag("lv_attitude_600x750.jpg", alt: "Laurie attitude",
                            class: "img-responsive full-col",
                            data: { toggle: "modal", target: "#myModal" }),
                            "#myGallery", data: { slide_to: "0"} %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom">
        <%= link_to image_tag("lv_arabesque_600x750.jpg", alt: "Laurie arabesque",
                            class: "img-responsive full-col",
                            data: { toggle: "modal", target: "#myModal" }),
                            "#myGallery", data: { slide_to: "1" } %>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom">
        <%= link_to image_tag("lv_cinderella_winter_600x750.jpg", alt: "Laurie as Cinderella Winter fairy",
                            class: "img-responsive full-col",
                              data: { toggle: "modal", target: "#myModal" }),
                             "#myGallery", data: { slide_to: "2" } %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 nopadding img-zoom">
      <%= link_to image_tag("lv_cinderella_spring_600x750.jpg", alt: "Laurie as Cinderella Spring fairy",
                            class: "img-responsive full-col",
                            data: { toggle: "modal", target: "#myModal" }),
                            "#myGallery", data: { slide_to: "3" } %>
      </div>
  </div>


  <div class="row" id="img-gallery2">
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom">
      <%= link_to image_tag("lv_gradBall_800x622.jpg", alt: "Laurie in Graduation Ball",
                          class: "img-responsive full-col",
                          data: {toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "4" } %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom">
        <%= link_to image_tag("lv_giselle_800x622.jpg", alt: "Laurie in Peasant Pas in Giselle",
                          class: "img-responsive full-col",
                          data: {toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "5"} %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom">
        <%= link_to image_tag("lv_swanLake_800x622.jpg", alt: "Laurie in Pas de Six in Swan Lake",
                          class: "img-responsive full-col",
                          data: {toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "6"} %>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom">
      <%= link_to image_tag("lv_phantom_ballet_girls_800x622.jpg", alt: "Laurie and the Phantom of the Opera ballet dancers",
                          class: "img-responsive full-col",
                          data: {toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "7" } %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom">
        <%= link_to image_tag("lv_last_perf_800x622.jpg", alt: "Laurie taking her final Phantom of the Opera bow",
                          class: "img-responsive full-col",
                          data: {toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "8"} %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 nopadding img-zoom">
        <%= link_to image_tag("lv_masq_girls.jpg", alt: "Laurie with the Phantom of the Opera Masquerade dancers",
                          class: "img-responsive full-col",
                          data: {toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "9"} %>
      </div>
  </div>

<!--begin modal window-->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <div class="pull-left"><h4>Laurie's Picture Gallery</h4></div>
                <button type="button" class="close" data-dismiss="modal" title="Close">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
    <div class="modal-body">
      <!--CAROUSEL CODE GOES HERE-->
      <!--begin carousel-->
      <div id="myGallery" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("lv_attitude_600x750.jpg",
                          alt: "Laurie as Fairy Beauty, Sleeping Beauty",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Sleeping Beauty</em></h3>
              <p>Fairy <em>Beauty</em></p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_arabesque_600x750.jpg",
                          alt: "Laurie in Pas de Quatre, Sleeping Beauty",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Sleeping Beauty</em></h3>
              <p>Pas de Quatre</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_cinderella_winter_600x750.jpg",
                          alt: "Laurie as Cinderella Winter fairy",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Cinderella</em></h3>
              <p>Winter fairy</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_cinderella_spring_600x750.jpg",
                          alt: "Laurie as Cinderella Spring fairy",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Cinderella</em></h3>
              <p>Spring fairy</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_gradBall_800x622.jpg",
                          alt: "Laurie in Graduation Ball",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Graduation Ball</em></h3>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_giselle_800x622.jpg",
                          alt: "Laurie in Peasant Pas in Giselle",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Giselle</em></h3>
              <p>Peasant Pas</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_swanLake_800x622.jpg",
                          alt: "Laurie in Pas de Six in Swan Lake",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Swan Lake</em></h3>
              <p>Pas de Six</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_phantom_ballet_girls_800x622.jpg",
                          alt: "Laurie and the Phantom of the Opera ballet dancers",
                          class: "img-responsive") %>
            <div class="carousel-caption">
              <h3><em>Phantom of the Opera</em></h3>
              <p>Act I Ballet dancers backstage</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_last_perf_800x622.jpg",
                          alt: "Laurie taking her last bow with Phantom of the Opera",
                          class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Phantom of the Opera</em></h3>
              <p>Brought onstage for her final bow as Dance Captain in the Broadway production</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("lv_masq_girls.jpg",
                            alt: "Laurie with the Phantom of the Opera Masquerade dancers",
                            class: "img-responsive full-col") %>
            <div class="carousel-caption">
              <h3><em>Phantom of the Opera</em></h3>
              <p>Masquerade dancers backstage at the Majestic Theater, NYC</p>
            </div>
          </div>
      </div><!--end carousel-inner-->
      <!--Begin Previous and Next buttons-->

        <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
          href="#myGallery" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!--end carousel-->

    </div><!--end modal-body-->
        <div class="modal-footer">
          <div class="pull-left">
          </div>
            <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
        </div><!--end modal-footer-->

      </div><!--end modal-content-->
    </div><!--end modal-dialoge-->
  </div><!--end myModal-->




  <div class="row" id="contact">
      <div class="col-md-6 col-md-offset-3 line-divider">
        <hr class="double-line">
      </div>
  </div>
  <div class="row">
    <h1 class="text-center">In the Studio</h1>
  </div>

  <div class="row">
    <div>
      <div class= "quote col-md-6 col-sm-6 col-xs-6">
        <blockquote class="blockquote">
          <p>
            Ballet is more than a</br> profession - it is a way of life.
          </p>
          <footer class="blockquote-footer">
            Margot Fonteyn
          </footer>
        </blockquote>
      </div>
      <div>
        <%= image_tag('lv_footer_pic.jpg', alt: "Laurie teaching a class",
                      class: "col-md-6 col-sm-6 col-xs-6 img-responsive",
                       id: 'studio-img') %>
      </div>
    </div>
  </div>

  <div class="row"  id="footer-row">
    <div class="col-md-5">
      <div class="row">
        <div class="text-center" id="footer-nav-title">
          <h2>Navigate</h2>
        </div>
      </div>
      <div class="row" id="footer-nav-list">
        <ul class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset- 3">
          <li><%= link_to "Top", "#", id: "footer-to-top" %></li>
          <li><%= link_to "Bio", "#", id: "footer-to-bio" %></li>
<<<<<<< HEAD
          <li><%= link_to "Videos",   "#", id: "footer-to-videos" %></li>
=======
>>>>>>> 5fb5ec1ac183909517ae7742744c74a5c2cf802e
          <li><%= link_to "Images", "#", id: "footer-to-images" %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row" id="flash-row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset- 3" id="flash-message">
          <%= render 'flash' %>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3" id="contact-text">
        For more information on Master classes in ballet or musical theater, send Laurie a message.
      </div>
      <div
        <div class="col-md-6 col-sm-3 col-xs-3" id="contact-form">
            <%= render "contact_form" %>
        </div>
    </div>
  </div>
