<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Laurie Langdon's web site</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-inverse">
      <div class="container-fluid">
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "About Me",   "#" %></li>
            <li><%= link_to "Images",     "#" %></li>
            <li><%= link_to "Contact",    "#" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-fluid">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
